// ------------ ヘッダーと写真 -----------
.Hero {
  background-image: url("../public/lunchpic.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  height: 400px;
}

.Header {
  width: 100%;
  height: 100px;
  border-radius: 0px 0px 30px 30px;
  background: linear-gradient(to right, #ff1493, #ff8c00);
}

.HeaderText {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}

.Searchbar {
  position: relative;
  text-align: center;
}

.HeaderInput {
  background-color: rgba(255, 255, 255, 0.163);
  color: white;
  border-radius: 50px;
  border: none;
  width: 70%;
  font-size: 12px;
}

.HeaderInput::placeholder {
  color: white;
}

.HeaderSearchIcon {
  position: absolute;
  top: 25%;
  left: 18%;
  z-index: 2;
  color: white;
}

.HeaderFilterIcon {
  position: absolute;
  top: 25%;
  right: 6%;
  z-index: 2;
  color: white;
}

.HamBurgerBox {
  position: relative;
  height: 0;
  right: 20;
}

.navbar-burger {
  color: white;
  margin-right: 5px;
}

// ------------ ヘッダーと写真のセクションここまで --------
// ------------ Pick Up と未読カード ここから -----------
.FlexPickUP {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box:not(:last-child) {
  margin-bottom: 20px;
}
.PickUpBtn {
  font-size: 10px;
}
.PIckUPText {
  font-size: 12px;
  padding-left: 24px;
  font-weight: bold;
  font-family: "Hiragino Kaku Gothic Pro", "メイリオ", sans-serif;
}

.UnreadCard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 87%;
  height: 43px;
  border-radius: 4px;
  background-color: orange;
  margin: 0 auto;
  color: white;
}

.Time {
  font-size: 8px;
  font-family: "Hiragino Kaku Gothic Pro", "メイリオ", sans-serif;
}

.UnreadTitle {
  font-size: 12px;
  width: 65px;
  font-weight: bold;
  font-family: "Hiragino Kaku Gothic Pro", "メイリオ", sans-serif;
}
.UnreadText {
  font-size: 8px;
  font-weight: bold;
  font-family: "Hiragino Kaku Gothic Pro", "メイリオ", sans-serif;
}

.UnreadRight {
  padding-left: 24px;
}
// ------------ Pick Up と未読カード ここまで -----------
// ------------ キャンペーンセクション ここから -----------

.CampainContainer {
  padding: 10px 20px;
}
.CampainPicBox {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.CampainCard {
  margin: 0 auto;
}
.CampainText {
  font-size: 12px;
  padding-left: 4px;
  font-weight: bold;
  font-family: "Hiragino Kaku Gothic Pro", "メイリオ", sans-serif;
}

.CampainPicture {
  display: block;
  width: 165px;
  height: 100px;
  object-fit: cover;
  margin: 4px 2px;
  background-image: url(/_next/static/media/lunchpic.72bc9757.jpg);
}

.CategoryCenterTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  font-weight: bold;
  font-family: "Hiragino Kaku Gothic Pro", "メイリオ", sans-serif;
}
// ------------ キャンペーンセクション ここまで -----------
// ------------ footer ここから -----------
.Footer {
  width: 100%;
  height: 60px;
}

.FooterNav {
  margin: 0 auto;
}
.NavList {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 350px;
  height: 35px;
  margin: 0 auto;
  background-color: #ffffff;
  //  can you create a shadow in this box?
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.NavItem {
  color: #f67280;
  padding: 0 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Hiragino Kaku Gothic Pro", "メイリオ", sans-serif;
}

// ------------ footer ここまで -----------
